# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependencies
# =========================
node_modules

# =========================
# Build outputs
# =========================
dist
dist-ssr
build
coverage
.next
out

# =========================
# Environment variables (SECRETS)
# =========================
.env
.env.*
**/.env
**/.env.*
!**/.env.example

# =========================
# Local config
# =========================
*.local

# =========================
# Editor / IDE files
# =========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
tmp
temp
.cache
